/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bg-lite{
  background-color: #f1f1f1;
}

body{
  overflow: hidden;
}

.view-container{
  overflow: auto;
  height: 100vh;
}

/* .form-material {
  position: relative;
}

.form-material input {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1pt solid #bbb;
  border-radius: 0px;
}

.form-material input:focus {
  background-color: #fff;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom:none
}

.form-material input:focus {
  outline: none;
}

.form-material input[type="number"] + label, .form-material input[type="text"] + label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  transition: 0.2s ease all;
}

.form-material select label {
  top: 0px;
}
.form-material input[type="radio"] + label {
    pointer-events: visible;
  }

.form-material input:focus~label {
  top: -10px;
  font-size: 14px;
  color: #5264AE;
} */

/* BOTTOM BARS ================================= */

/* .form-material .bar {
  position: relative;
  display: block;
  width: auto;
}

.form-material .bar:before,
.form-material .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
}

.form-material .bar:before {
  left: 50%;
}

.form-material .bar:after {
  right: 50%;
} */

/* active state */

/* .form-material input:focus~.bar:before,
.form-material input:focus~.bar:after {
  width: 50%;
} */

/* HIGHLIGHTER ================================== */

/* .form-material .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
} */

/* active state */

/* .form-material input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

.form-material select {
  border: none;
  border-bottom: 1pt solid #bbb;
}

.form-material input[type="radio"] {
  display: none;
}

.form-material input[type="radio"]+label {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  padding-left: 28px;
}

.form-material input[type="radio"]+label:before,
input[type="radio"]+label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-material input[type="radio"]+label:before {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #1565C0;
  -moz-box-shadow: inset 0 0 0 18px #E0E0E0;
  -webkit-box-shadow: inset 0 0 0 18px #E0E0E0;
  box-shadow: inset 0 0 0 18px #E0E0E0;
}

.form-material input[type="radio"]+label:after {
  top: 49%;
  left: 9px;
  width: 54px;
  height: 54px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.form-material input[type="radio"]:checked+label:before {
  -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
  -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
  box-shadow: inset 0 0 0 4px #E0E0E0;
}

.form-material input[type="radio"]:checked+label:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-animation: ripple 1s none;
  -webkit-animation: ripple 1s none;
  animation: ripple 1s none;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus::-ms-input-placeholder,
select:focus::-webkit-input-placeholder,
select:focus::-moz-placeholder,
select:focus::-ms-input-placeholder {
  color: transparent;
} */

/* ANIMATIONS ================ */
/* 
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes ripple {
    5%, 100% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
  }
  @-webkit-keyframes ripple {
    5%, 100% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
  }
  @keyframes ripple {
    5%, 100% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
  }
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */