<div class="card">
  <div class="card-body pl-1 pr-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm bg-light">
          <div class="card">
            <h5 class="card-header bg-info text-light">Form Builder</h5>
            <form #formBuilder="ngForm">
              <div class="card-body bg-lite">
                <mat-accordion class="box" *ngFor="let field of schema; let index = index;">
                  <mat-expansion-panel [expanded]="schema.length-1 === index">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Key: {{field.key}}
                      </mat-panel-title>
                      <mat-panel-description>
                        Description: {{field.label}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Title" name="title-{{field.key}}" [(ngModel)]="field.label">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="key" name="key-{{field.key}}" [(ngModel)]="field.key">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group d-flex flex-column">
                          <mat-slide-toggle name="req-{{field.key}}" (change)='field.required = $event.checked' [checked]="field.required">Optional</mat-slide-toggle>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group d-flex flex-column">
                          <mat-form-field>
                            <mat-select placeholder="Type" name="type-{{field.key}}" [(ngModel)]="field.controlType">
                              <mat-option *ngFor="let type of types" [value]="type.value">
                                {{type.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group d-flex flex-column">
                          <mat-form-field>
                            <mat-select placeholder="Condition" name="condition-{{field.key}}" [(ngModel)]="field.condition">
                              <mat-option *ngFor="let item of conditions" [value]="item.value">
                                {{item.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                    </div>

                    <ng-container *ngIf="field.controlType === 'radio'">
                      <div class="row justify-content-center">
                        <div class="col-sm-4 ">
                          <div class="form-group d-flex flex-column">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Values" name="options-{{field.key}}" #option (enter)="addField($event,field)">
                              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addField(option,field)">
                                <mat-icon>add</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>

                        </div>
                        <div class="col-sm-4">
                          <mat-list dense disableRipple='false'>
                            <mat-list-item *ngFor="let item of field.listing">
                              <button class="w-100 text-right border-bottom" mat-button (click)='deleteField(item,field.listing)'> {{item}}
                                <i class="material-icons">
                                  close
                                </i>
                              </button>
                              <!-- <button mat-icon-button >
                                <mat-icon>info</mat-icon>
              </button>  -->
                              <!-- {{item}}<mat-divider></mat-divider> -->
                            </mat-list-item>
                          </mat-list>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="field.controlType === 'dropdown'">
                      <div class="row ">
                        <div class="col-sm-3">
                          <div class="form-group d-flex flex-column mt-3">
                            <mat-checkbox class="pr-2" #showDE>DataElement</mat-checkbox>
                          </div>
                        </div>
                        <ng-container *ngIf="!showDE.checked">
                          <div class="col-sm-4 ">
                            <div class="form-group d-flex flex-column">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="Values" name="options-{{field.key}}" #option (enter)="addField($event,field)">
                                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addField(option,field)">
                                  <mat-icon>add</mat-icon>
                                </button>
                              </mat-form-field>
                            </div>

                          </div>
                          <div class="col-sm-4">
                            <mat-list dense disableRipple='false'>
                              <mat-list-item *ngFor="let item of field.listing">
                                <button class="w-100 text-right border-bottom" mat-button (click)='deleteField(item,field.listing)'> {{item}}
                                  <i class="material-icons">
                                    close
                                  </i>
                                </button>
                                <!-- <button mat-icon-button >
                                <mat-icon>info</mat-icon>
              </button>  -->
                                <!-- {{item}}<mat-divider></mat-divider> -->
                              </mat-list-item>
                            </mat-list>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="showDE.checked">
                          <div class="col-sm-4 ">
                            <div class="d-flex flex-column">
                              <mat-form-field>
                                <mat-select placeholder="Type">
                                  <mat-option value='state'>
                                    State
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>

                    <div class="row ">
                      <div class="col-sm-12 p-0">
                        <button type="button" class="btn btn-light float-sm-right pb-0" (click)="deleteElement(field)">
                          <i class="material-icons">
                            delete_outline
                          </i>
                        </button>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="card-footer pt-0">
                <div class="row justify-content-end">
                  <div class="col-4 mt-2">
                    <button class="btn btn-info float-sm-right" type="button" (click)="addElement()">Add Element</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm bg-light">
          <div class="card">
            <h5 class="card-header bg-info text-light">Preview</h5>
            <div class="card-body">

              <div class="form-group" *ngFor="let element of schema">
                <app-form-renderer [element]='element' [form]='dynaForm'></app-form-renderer>
              </div>
              <p>Form value: {{ dynaForm.value | json }}</p>
              <!-- <p>Form status: {{ dynaForm.status | json }}</p> -->
              <p>Form status: {{ schema | json }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
