<ng-container *ngIf="element.controlType==='number'">
  <div class="d-flex flex-column" [formGroup]="form">
    <mat-form-field>
      <input matInput type="number" [formControlName]="element.key" [required]="element.required" placeholder="{{element.label}}"
        name="{{element.key}}">
    </mat-form-field>
    <!-- <input class="form-control" type="number" [formControlName]="element.key" [required]="element.required">
    <label class="center-block">{{element.label}}</label>
    <span class="highlight"></span>
    <span class="bar"></span> -->
    <div class="alert alert-danger" *ngIf="!isPristine(element.key) && isRequired(element.key)">{{element.label}} is required</div>
  </div>
</ng-container>

<ng-container *ngIf="element.controlType==='text'">
  <div class="d-flex flex-column" [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" [formControlName]="element.key" [required]="element.required" placeholder="{{element.label}}"
        name="{{element.key}}">
    </mat-form-field>
    <!-- <input class="form-control" type="text" [formControlName]="element.key" [required]="element.required">
    <label class="center-block">{{element.label}}</label>
    <span class="highlight"></span>
    <span class="bar"></span> -->
    <div class="alert alert-danger" *ngIf="!isPristine(element.key) && isRequired(element.key)">{{element.label}} is required</div>
  </div>
</ng-container>

<ng-container *ngIf="element.controlType==='dropdown'">
  <div class="d-flex flex-column" [formGroup]="form">
    <mat-form-field>
      <mat-select placeholder="Type" [formControlName]="element.key" [required]="element.required">
        <mat-option *ngFor="let item of element.listing" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <select class="form-control" [formControlName]="element.key" [required]="element.required">
      <option *ngFor="let item of element.listing" [value]="item">{{item}}</option>
    </select> -->

    <div class="alert alert-danger" *ngIf="!isPristine(element.key) && isRequired(element.key)">{{element.label}} is required</div>
  </div>
</ng-container>

<ng-container *ngIf="element.controlType==='radio'">
  <div [formGroup]="form" class="form-group radio">

    <label class="center-block">{{element.label}}</label>
    <div>
      <!-- <ng-container *ngFor="let item of element.listing; let i = index;"> -->
      <mat-radio-group [required]="element.required" [formControlName]="element.key">
        <mat-radio-button class="pr-2" id="{{element.key+i}}" *ngFor="let item of element.listing; let i = index;" [value]="item">{{item}}</mat-radio-button>
      </mat-radio-group>
      <!-- <input type="radio" id="{{element.key+i}}" [formControlName]="element.key" [value]="item" [required]="element.required">
        <label for="{{element.key+i}}">{{item}}</label> -->
      <!-- </ng-container> -->
    </div>
    <div class="alert alert-danger" *ngIf="!isPristine(element.key) && isRequired(element.key)">{{element.label}} is required</div>
  </div>
</ng-container>

<ng-container *ngIf="element.controlType==='checkbox'">
  <div [formGroup]="form" class="checkbox">
    <label class="center-block">{{element.label}}</label>
    <div>
      <mat-checkbox class="pr-2" *ngFor="let item of element.listing" [formControlName]="element.key" [required]="element.required">{{item}}</mat-checkbox>
      <!-- <input type="checkbox" [formControlName]="element.key" [value]="item" [required]="element.required">{{item}}

    <div class="alert alert-danger" *ngIf="!isPristine(element.key) && isRequired(element.key)">{{element.label}} is required</div> -->
    </div>
  </div>
</ng-container>
